// Color

$background-color: #e2bfff;
$text-color: #800080;
$hover-color: #cc00ff;
$link-color: #ff4d6a;
$title-gradient-color: #ff00ff;
$basic-color: #ffffff;

// Dimensions

$max-width: 1280px;
$responsive-phone: 480px;
$responsive-tablett: 890px;

// Time

$transition-link: 0.7s;
